@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
@import "tailwindcss";

@theme {
  --font-Roboto: "Roboto", sans-serif;
  --font-Script: "Rouge Script";
  --font-Rhodium: "Rhodium Libre";
}

.primary-text {
  @apply text-5xl font-Roboto;
}

.primary-secondary {
  @apply text-[18px] font-Roboto;
}

